# Standard Ignores
.venv/
__pycache__/
*.pyc
.vscode/
.idea/

# Source Files (Remove to track)
main.py
README.md
scenes/game_scene.py
scenes/main_menu.py
scenes/splash_screen.py
entities/player.py
entities/enemy.py
utils/constants.py
utils/helpers.py
utils/particle_system.py
utils/sprite_loader.py

uv.lock